# Archives
*.zip
*.gz

# SSH Keys
*.pem

# Ignore Mac .DS_Store files
.DS_Store

# Ignored vscode files
.vscode
._*

php_errors.log

#-------------------------
# Composer
#-------------------------
vendor/
composer.lock

writable/
#-------------------------
# Environment Files
#-------------------------
# These should never be under version control,
# as it poses a security risk.
.env
.vagrant
Vagrantfile